build/
CMakeUserPresets.json

*.exe
*.out
*.app
*.bin
*.dll
*.so
*.dylib

.vs/
*.user
*.suo
*.idb
*.pdb
*.lk
*.ilk
*.exe.recipe
x64/
Debug/
Release/

.vscode/
.idea/
cmake-build-*/

.DS_Store
Thumbs.db